nav{
    background-color: #e74c3c;
    color: #fff;
    padding: 25px 50px;
    display:flex;
    justify-content: space-between;
  }
  
  nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: lightblue;
    color: #000;
    margin-right: 10px;
    cursor: pointer;
  }
  
  nav li a {
    text-decoration: none;
    color: #000;
  }

  body{
      background-color:white;
  }
  img{
      width:50px;
      height: 50px;
  }
  img:hover{
      cursor:pointer;
  }
  .pointsButton{
    background-color: lightblue;
    width: 100px;
    height: 100px;
    cursor:pointer;
  }
  .pointsButton:hover{
      border: solid 5px black;
  }